# Entorno
NODE_ENV=development
PORT=3000

# JWT
JWT_SECRET=tu_clave_secreta_jwt
JWT_EXPIRES_IN=1h

# PostgreSQL (Conexión principal)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=tu_password_postgres
DB_DATABASE=nest_security
DB_SYNCHRONIZE=true  # Solo en desarrollo (false en producción)
DB_LOGGING=true

# PostgreSQL (Segunda fuente de datos - Ej: logs/analíticas)
DB_LOG_HOST=localhost
DB_LOG_PORT=5432
DB_LOG_USERNAME=postgres
DB_LOG_PASSWORD=tu_password_logs
DB_LOG_DATABASE=nest_logs